section
{
    padding: 20px;
}
section#section-cta-button-list
{
    margin-top: -150px;
}
section#section-resume-biography
{
    margin-top: -50px;
}
section#section1
{
    margin-top: -220px;
}
.sz-caption
.sz-powered-by
{
    visibility:hidden;
}